<div class="col-md-6 col-xl-4 widget-pad">
    <div class="widget text-widget">
        <div class="widget-header">
            <h2> <%= widget.name %> </h2>
        </div>
        <textarea rows='10' data-min-rows='10' class="autoExpand"><%= widget.state.text %></textarea>
    </div>
</div>