body {
  background-color: #fbfbf9;
}

p {
  font-family: 'Montserrat-Regular', 'Montserrat', sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 24px;
}

h1, h2 {
  font-family: 'Montserrat-Bold', 'Montserrat', sans-serif;
  color: #333;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 18px;
}

li {
  font-family: 'Montserrat-Regular', 'Montserrat', sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 24px;
}

li.finished {
  color: #ddd;
  text-decoration: line-through;
}


#project-name {
  margin-top: 50px;
}

#widgets {
  margin-top: 60px;
}

.widget-pad {
  padding: 20px;
}

.widget {
  background-color: #fff;
  padding: 60px 30px;
}

.widget-header {
  text-align: center;
  margin-bottom: 60px;
}

#add-widget {
  text-align: center;
  margin: 40px 0px;
}

.add-widget-plus {
  font-family: 'Montserrat-Bold', 'Montserrat', sans-serif;
  color: #999;
  font-size: 44px;
  padding-bottom: 6px;
}

.add-widget-header {
  font-family: 'Montserrat-Light', 'Montserrat', sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 24px;
}
