body {
  background-color: #fbfbf9;
}

p {
  font-family: 'Montserrat-Regular', 'Montserrat', sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 24px;
}

h1, h2 {
  font-family: 'Montserrat-Bold', 'Montserrat', sans-serif;
  color: #333;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 18px;
}

.navigation {
  padding-top: 12px;
}

.navigation a {
  color: #666;
}

.navigation li {
  list-style-type: none;
}

li {
  font-family: 'Montserrat-Regular', 'Montserrat', sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 24px;
}

li.finished {
  color: #ddd;
  text-decoration: line-through;
}


#project-name {
  margin-top: 50px;
}

#widgets {
  margin-top: 60px;
}

.widget-pad {
  padding: 20px;
}

.widget {
  background-color: #fff;
  padding: 60px 30px;
}

.widget-header {
  text-align: center;
  margin-bottom: 60px;
}

#add-widget {
  text-align: center;
  margin: 40px 0px;
}

h2.add-widget-plus {
  font-family: 'Montserrat-Bold', 'Montserrat', sans-serif;
  font-size: 44px;
  color: #999;
}

h3.add-widget {
  font-family: 'Montserrat-Regular', 'Montserrat', sans-serif;
  color: #999;
  font-size: 14px;
}

#add-widget a:hover {
  text-decoration: none;
  color: #333;
}

.editable-header {
  border: none;
  font-family: 'Montserrat-Regular', 'Montserrat', sans-serif;
  font-size: 26px;
  text-align: center;
  color: #333;
  background-color: transparent;
  transition: box-shadow .3s ease-in;
  outline: 0;
}

.editable-header:hover, .editable-header:focus {
  box-shadow: 0 2px 0 #4ab9d6;
}