<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
    window.GLOBALS = {
      board: <%- JSON.stringify(board) %>
    };
  </script>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="project-name">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 text-center">
        <input id="title" class="editable-header h1"
          type="text"
          placeholder="Your project name"
          onfocus="this.placeholder=''; startEditInput(this)"
          onblur="this.placeholder='Your project name'; stopEditInput(this)"
          value="<%= board['name'] %>"
        />
        <p class="subheader">Share the URL with your friends and start collaborating!</p>
      </div>
    </div>
  </div>
</div>

<div id="widgets-container">
      <!-- start widget loop -->
      <%
        let widgets = board.widgets;

        if (widgets && widgets.length > 0 ) {
          for(var i=0; i< widgets.length; i++) {
            let widget = widgets[i];

            if (widget.type === 1) { %>
              <% include ../partials/text-widget.ejs %>
            <%} else if (widget.type === 2) { %>
              <% include ../partials/checklist-widget.ejs %>
            <%}
          }
        }
      %>
     <!-- end loop -->

     <div class="widget add-widget-card" id="add-widget">
          <div class="dropdown">
            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/img/plus.png" class="add-plus"/>
                  <br/>
              </a>
              <div class="dropdown-menu card-type" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="javascript:addWidget('text')">Text</a><br />
                <a class="dropdown-item" href="javascript:addWidget('checklist')">Todo</a><br />
                <!-- <a class="dropdown-item" href="javascript:addWidget('image')">Image</a> -->
              </div>
            </div>
          </div>
       </div>
    </div>
  </div>
</div>

<container>
  <row class="footer text-center">
      <p class="footer subheader">Email us with feedback: hello@planry.com</p>
  </div>
</div>

<% include ../partials/scripts.ejs %>
</body>
</html>
