<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
    window.GLOBALS = {
      board: <%- JSON.stringify(board) %>
    };
  </script>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="project-name">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 text-center">
        <input id="title" class="editable-header h1" type="text" value="<%= board['name'] %>"></input>
        <p class="uuid">Your board uuid is: <%= board['identifier'] %> </p>
      </div>
    </div>
  </div>
</div>

<div id="widgets">
  <div class="container">
    <div class="row" id="widgets-container">
      <!-- start widget loop -->
      <%
        let widgets = board.widgets;

        if (widgets && widgets.length > 0 ) {
          for(var i=0; i< widgets.length; i++) {
            let widget = widgets[i];

            if (widget.type === 1) { %>
              <% include ../partials/text-widget.ejs %>
            <%}
          }
        }
      %>
     <!-- end loop -->
    </div>
  </div>
</div>

<div id="add-widget">
  <div class="container">
  	<div class="row">
      <div class="col-sm-12 add-widget">
        <div class="dropdown">
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle add-widget" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              +<br/>
              Add widget
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="javascript:addWidget('text')">Text</a><br />
              <a class="dropdown-item" href="javascript:addWidget('checklist')">Todo</a><br />
              <a class="dropdown-item" href="javascript:addWidget('image')">Image</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/scripts.ejs %>
</body>
</html>
